<header>
  <div class="flex justify-center">
    <%= image_tag "mtg_logo_2.png", title: "mtg_logo_2", alt: "mtg_logo_2", class: "inline-block w-32 h-auto" %>
  </div>  

  <h1 class="text-4xl font-bold text-center mb-6 text-gray-200">Magic The Gathering Card Search</h1>
</header>